{% extends 'admin/change_form.html' %}
{% load admin_urls i18n staticfiles %}

{% block after_related_objects %}
{% if change %}
<h2>{% trans 'CMS Pages' %}</h2>
<div id="root-node-add">
  <a href="#" class='node-add'>
    <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="{% trans 'Add' %}"/>
    {% trans 'Add' %}
  </a>
</div>
<div id="pagetree" data-url="{% url opts|admin_urlname:'pagetree' original.pk %}"></div>
{% endif %}
{% endblock after_related_objects %}

{# Put templates outside form #}
{% block content %}
{{ block.super }}
<div id=page-edit-templates" style="display:none">
  <a href="#" id="node-edit-template" class="node-edit" alt="{% trans 'Edit' %}">
    <img src="{% static 'admin/img/icon-changelink.svg' %}" alt="{% trans 'Edit' %}"/>
  </a>

  <a href="#" id="node-add-template" class="node-add" alt="{% trans 'Add' %}">
    <img src="{% static 'admin/img/icon-addlink.svg' %}" alt="{% trans 'Add' %}"/>
  </a>

  <a href="#" id="node-delete-template" class="node-delete" alt="{% trans 'Delete' %}">
    <img src="{% static 'admin/img/icon-deletelink.svg' %}" alt="{% trans 'Delete' %}"/>
  </a>

  <iframe id="pageAdmin" data-add-url="{% url 'admin:simplecms_cmspage_add' %}" data-change-url="{% url 'admin:simplecms_cmspage_change' 0 %}"></iframe>

  <div id="delete-confirm">
    <h2>{% trans 'Confirm Delete' %}</h2>
    <p>{% trans 'Are you sure you want to delete this page?' %}</p>
    <form>
      <input type="submit" value="{% trans 'Yes' %}">
    </form>
  </div>
</div>
{% endblock content %}
